/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */
.recipeDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cards {
  width: 100vw;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding-left: 40px;
}
.recipeLabel {
  font-style: italic;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
img {
  margin-left: 70px;
  border-radius: 10px;
  border: 1px solid gray;
}

.servingSize {
  margin-left: 37rem;
  margin-top: -20rem;
}

.ingredients {
  margin-left: 30rem;
  font-size: large;
}

.healthLabel {
  padding-top: 10px;
  color: rgb(30, 114, 30);
  position: relative;
  text-align: center;
  margin-left: 0px;
  /* margin-top: 6rem; */
}

.cautions {
  padding-top: 10px;
  position: relative;
  color: rgb(30, 114, 30);
  /* margin-top: 6rem; */
  text-align: center;
}

.calories {
  color: rgb(30, 114, 30);
  margin-top: 5rem;
  position: relative;
}
