/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

.cards {
  width: 100vw;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding-left: 40px;
}
/* END DEMO */
