/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */
.recipeDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body {
  background-image: url(https://lh3.googleusercontent.com/proxy/mguwy4tXWCoa7HEaGtfCJ6_eqVnTfBEd6L8lEN2y4mWo2FT-lcvLFAboANPVxEJrzziqTVejMBOMlUXCJiUQf9mu9biepbln3srBHpx7_adGkp26AyhHpUY9MZ1nCw6nKg);
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}

.cards {
  width: 100vw;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding-left: 0px;
}
.recipeLabel {
  font-style: italic;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
img {
  margin-left: 70px;
  border-radius: 5px;
  /* border: 1px solid rgb(184, 4, 4); */
}

.servingSize {
  margin-left: 37rem;
  margin-top: -20rem;
}

.ingredients {
  margin-left: 30rem;
  font-size: large;
}

.healthLabel {
  padding-top: 8rem;
  position: relative;
  text-align: center;
  margin-left: 0px;
  /* margin-top: 6rem; */
}

.cautions {
  padding-top: 8rem;
  position: relative;
  color: black;
  /* margin-top: 6rem; */
  text-align: center;
}

.calories {
  padding-top: 10rem;
  position: relative;
  color: black;
}
